<!doctype html>
<html>
	<body>
		<a
			target="_blank"
			href="/docs"
			style="color: red"
			class="btn btn-primary"
			aria-label="Open docs"
			data-track="cta"
			id="docs-link"
			rel="noopener"
			role="button"
			tabindex="0"
		>
			Docs
		</a>

		<input
			autocomplete="off"
			value="Raphael"
			type="text"
			data-z="z"
			class="field"
			required
			name="username"
			id="username"
			tabindex="2"
			data-a="a"
			style="border: 1px solid #ccc"
			aria-label="Username"
		/>

		<img
			width="320"
			alt="Cover"
			decoding="async"
			src="/img/cover.jpg"
			role="img"
			loading="lazy"
			class="hero-image"
			data-src="/img/cover@2x.jpg"
			style="display: block"
			aria-hidden="false"
			id="cover"
			title="Main cover"
			height="180"
		/>

		<angular>
			<input
				type="text"
				aria-label="Email"
				ng-model="user.email"
				[disabled]="isDisabled"
				class="ng-field"
				*ngIf="ready"
				id="email"
				(change)="onEmailChange($event)"
				data-track="email"
				tabindex="3"
				style="width: 100%"
				name="email"
			/>
		</angular>
	</body>
</html>
